<footer class="sub-text clear">
    <section class="sub-nav">
        <ul class="secondary-nav col dotted-border">
            <li><a href="#">Smile Guarantee</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Fab Cards</a></li>
            <li><a href="#">Mobile Apps</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">Shipping</a></li>a
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
        </ul>
        <div class="one-of-six col dotted-border">Fab US</div>
        <div class="one-of-five col dotted-border">
            <span class="icon-twitter-circled social-icon"></span>
            <span class="icon-facebook-circled social-icon"></span>
            <span class="inline">Fab.com &copy; 2013</span>
        </div>
    </section>
    <section class="footer">
        <div class="one-of-five col dotted-border">
            <ul>
                <h2 class="uppercase">Departments</h2>
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Art</a></li>
                <li><a href="#">Vintage</a></li>
                <li><a href="#">Jewelry</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Pets</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Fun</a></li>
            </ul>
        </div>
        <div class="three-of-five col dotted-border">
            <ul class="one-of-one col">
                <h2 class="uppercase">Most Popular Categories</h2>
                <span class="one-of-four col">
                    <li><a href="#">Lightning</a></li>
                    <li><a href="#">Earrings</a></li>
                    <li><a href="#">Bracelets</a></li>
                    <li><a href="#">Coffee Tables</a></li>
                    <li><a href="#">Wall Decals</a></li>
                    <li><a href="#">Stools</a></li>
                    <li><a href="#">Table Lamps</a></li>
                    <li><a href="#">Pendants</a></li>
                    <li><a href="#">Cook &amp; Prep</a></li>
                    <li><a href="#">Workspace</a></li>
                </span>
                <span class="one-of-four col">
                    <li><a href="#">Sofas</a></li>
                    <li><a href="#">Candles</a></li>
                    <li><a href="#">Lamp Shades</a></li>
                    <li><a href="#">Barstools</a></li>
                    <li><a href="#">Placemats</a></li>
                    <li><a href="#">Dining Tables</a></li>
                    <li><a href="#">Accents Chairs</a></li>
                    <li><a href="#">Bedding</a></li>
                </span>
                <span class="one-of-four col">
                    <li><a href="#">Beds</a></li>
                    <li><a href="#">Duvet Covers</a></li>
                    <li><a href="#">Necklaces</a></li>
                    <li><a href="#">Table Linens</a></li>
                    <li><a href="#">Clocks</a></li>
                    <li><a href="#">Dressers</a></li>
                    <li><a href="#">Side Tables</a></li>
                    <li><a href="#">Rugs</a></li>
                </span>
                <span class="one-of-four col">
                    <li><a href="#">Desks</a></li>
                    <li><a href="#">Shower Curtains</a></li>
                    <li><a href="#">Office Chairs</a></li>
                    <li><a href="#">Aprons</a></li>
                    <li><a href="#">Throw Pillows</a></li>
                    <li><a href="#">Lounge Chairs</a></li>
                </span>
            </ul>
        </div>
        <div class="one-of-five col dotted-border">
            <ul>
                <h2 class="uppercase">Top Designers</h2>
                <li><a href="#">Quirky</a></li>
                <li><a href="#">Herman Miller</a></li>
                <li><a href="#">Areaware</a></li>
                <li><a href="#">Kikkerland</a></li>
                <li><a href="#">JimmyJane</a></li>
                <li><a href="#">Joseph Joseph</a></li>
                <li><a href="#">Vitra</a></li>
                <li><a href="#">Izola</a></li>
                <li><a href="#">Safavieh</a></li>
                <li><a href="#">Alessi</a></li>
            </ul>
        </div>
    </section>
</footer>