    <header role="banner" id="banner">
            <div class="sub-text top-text">
                <div class="three-of-five no-padding col">
                    <p class="inline">Free Shipping. Free Returns. Smile Guarantee.</p>
                </div>
                <div class="float-right two-of-five no-padding col">
                    <p class="inline">1-877-463-4322</p>
                    <p class="inline">Email Us</p>
                </div>
            </div>
            <div class="logo-bar one-of-one col">
                <div class="menu inline one-of-twelve red-hover">
                    <span class="icon-menu"></span>
                </div>
                <form class="search inline">
                    <input type="search" placeholder="Search">
                </form>
                <a href="#">
                    <div class="logo inline one-of-two">
                        <img src="../images/logo.png">
                    </div>
                </a>
                <a href="#"><div class="inline red-hover one-of-twelve"><span class="icon-smile"></span></div></a>
                <a href="#"><div class="inline red-hover one-of-twelve"><span class="icon-hash"></span></div></a>
                <a href="#"><div class="inline red-hover one-of-twelve"></span> Login</div></a>
            </div>

            {% include _nav.html %}

        </header>