<nav class="main-nav" role="navigation" id="nav">
    <a href="#" id="nav-flyout-toggle">
        <div class="icon icon-down-arrow"></div>
    </a>
    <ul class="categories">
        <a href="#"><li>Furniture
        </li></a>
<!--        <a href="#"><li>Home</li></a>
        <a href="#"><li>Art</li></a>
        <a href="#"><li>Vintage</li></a>
        <a href="#"><li>Jewelry</li></a>
        <a href="#"><li>Women</li></a>
        <a href="#"><li>Men</li></a>
        <a href="#"><li>Pets</li></a>
        <a href="#"><li>Food</li></a>
        <a href="#"><li>Fun</li></a>-->
    </ul>
    <div id="flyout">
        <ul>
        <span class="one-of-three">
            <h2>Shop By Category</h2>
                <li>Chairs &amp; Stools</li>
                <li>Tables</li>
                <li>Storage &amp; Accessories</li>
                <li>Sofas &amp; Ottomans</li>
                <li>Beds &amp; Mattresses</li>
                <li>Desks</li>
                <li>Nightstands &amp; Dressers</li>
        </span>
        <!--<span class="one-of-three">
            <h2>Shop By Room</h2>
                <li>Living</li>
                <li>Bedroom</li>
                <li>Dining</li>
                <li>Workspace</li>
                <li>Outdoor</li>
            <h2>Top Designers</h2>
                <li>TheErgoOffice</li>
                <li>Jaxx</li>
                <li>Baxton Studio</li>
                <li>Picked Vintage</li>
            </span>
            <span class="one-of-three nav-image">
                <li>
                    <img src="../images/Nav/furniture-1.png">
                    New Arrivals</li>
                <li>
                    <img src="../images/Nav/furniture-2.png">
                    Exclusive</li>
                <li>
                    <img src="../images/Nav/furniture-3.png">
                    Artless</li>
                <li>
                    <img src="../images/Nav/furniture-4.png">
                    Most Popular</li>
            </span>-->
        </ul>
    </div>
</nav>