<nav class="main-nav" role="navigation" id="nav">
    <ul id="categories">
        <a href="#" id="nav-flyout-toggle" class="is-removed-from-widescreen">
            <li class="icon icon-down-arrow is-removed-from-widescreen"></li>
        </a>
        <a href="#"><li>Furniture
        </li></a>
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Art</li></a>
        <a href="#"><li>Vintage</li></a>
        <a href="#"><li>Jewelry</li></a>
        <a href="#"><li>Women</li></a>
        <a href="#"><li>Men</li></a>
        <a href="#"><li>Pets</li></a>
        <a href="#"><li>Food</li></a>
        <a href="#"><li>Fun</li></a>
    </ul>
    <div id="flyout">
        <ul>
        <span class="one-of-three">
            <h2>Shop By Category</h2></a>
                <a href="#"><li>Chairs &amp; Stools</li></a>
                <a href="#"><li>Tables</li></a>
                <a href="#"><li>Storage &amp; Accessories</li></a>
                <a href="#"><li>Sofas &amp; Ottomans</li></a>
                <a href="#"><li>Beds &amp; Mattresses</li></a>
                <a href="#"><li>Desks</li></a>
                <a href="#"><li>Nightstands &amp; Dressers</li></a>
        </span>
        <span class="one-of-three">
            <h2>Shop By Room</h2>
                <li>Living</li>
                <li>Bedroom</li>
                <li>Dining</li>
                <li>Workspace</li>
                <li>Outdoor</li>
            <h2>Top Designers</h2>
                <li>TheErgoOffice</li>
                <li>Jaxx</li>
                <li>Baxton Studio</li>
                <li>Picked Vintage</li>
            </span>
            <span class="one-of-three nav-image">
                <li>
                    <img src="../images/Nav/furniture-1.png">
                    New Arrivals</li>
                <li>
                    <img src="../images/Nav/furniture-2.png">
                    Exclusive</li>
                <li>
                    <img src="../images/Nav/furniture-3.png">
                    Artless</li>
                <li>
                    <img src="../images/Nav/furniture-4.png">
                    Most Popular</li>
            </span>
        </ul>
    </div>
</nav>