.login {
  font-size: 1em;
  line-height: 2em;
}

.image-title-top {
  background-color: black;
}

.image-title-top h1 {
  color: white;
  font-size: 1em;
  line-height: 2em;
  opacity: 1;
}

.image-title-top h2 {
  line-height: 1.5em;
}

.image-title-bottom {
  background-color: black;
  bottom: 1.5em;
  color: white;
  font-size: 1em;
}