
.flip-vertical {
          -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
}

// Content will be read by screen reader
.is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.is-removed-from-widescreen {
  display: none;
}
@media screen and (max-width: 62.5em) {
  .is-removed-from-widescreen {
    display: block;
  }
}

.no-padding {
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

.float-right {
  float: right;
  text-align: right;
}

.float-left {
  float: left;
}

.inline {
  display: inline-block;
}

.clear {
  clear: both;
}

.dotted-border {
  border: 1px dotted #303132;
}