/* BASE */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f2f2f2;
  font: 75%/1.231 "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: auto;
  padding: auto;
  max-width: 980px;
}

section {
  margin: 2px;
}

section, div {
  background-color: white;
  padding: 14px;
  z-index: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

nav, article, section, header, main, footer {
  display: block;
}

h1 {
  font-size: 22px;
}

h2 {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

img {
  width: 100%;
}

/* ICONS */

@font-face {
  font-family: 'fontello';
  src: url("../../FabDemo/fonts/fontello.eot");
  src: url("../../FabDemo/fonts/fontello.eot?14191376#iefix") format("embedded-opentype"), url("../../FabDemo/fonts/fontello.woff") format("woff"), url("../../FabDemo/fonts/fontello.ttf") format("truetype"), url("../../FabDemo/fonts/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-email, .icon-menu, .icon-cancel, .icon-truck, .icon-bus, .icon-menu-1, .icon-hash, .icon-facebook-circled, .icon-twitter-circled, .icon-smile, .icon-lock, .icon-truck-1, .icon-down-open, .icon-right-dir, .icon-left-dir {
  font-family: 'fontello';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-email:before {
  content: '\e808';
}

.icon-menu:before {
  content: '\e800';
  font-size: 24px;
}

.icon-cancel:before {
  content: '\e802';
}

.icon-truck:before {
  content: '\e809';
}

.icon-bus:before {
  content: '\e806';
}

.icon-menu-1:before {
  content: '\e801';
}

.icon-hash:before {
  content: '\e803';
}

.icon-facebook-circled:before {
  content: '\e805';
}

.icon-twitter-circled:before {
  content: '\e804';
}

.icon-smile:before {
  content: '\e807';
}

.icon-lock:before {
  content: '\e80b';
}

.icon-truck-1:before {
  content: '\e80a';
}

.icon-right-dir:before {
  content: '\e80d';
}

.icon-left-dir {
  text-align: center;
}

.icon-left-dir:before {
  content: '\e80e';
  font-size: 24px;
  line-height: 0;
}

.icon-down-open {
  text-align: center;
}

.icon-down-open:before {
  content: '\e80c';
  font-size: 24px;
  line-height: 0;
}

.social-icon {
  font-size: 30px;
}

.social-icon:hover {
  color: red;
  cursor: pointer;
}

/* COLORS */

.light-grey {
  background-color: #efefef;
}

.blue-text {
  color: #2ea5da;
}

.orange-text {
  color: #ff3f00;
}

.seafoam-text {
  color: #b4d5a2;
}


/* HEADER */

.top-text {
  height: 40px;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 0 14px;
  vertical-align: middle;
}

.sub-text {
  color: #666666;
  font-size: 11px;
  padding: 0px;
}

.sub-text a {
  color: #666666;
}

.sub-text a:hover {
  color: black;
}

.header {
  background-color: black;
  height: 55px;
  padding: 0px;
}

.header div {
  background-color: black;
}

.menu {
  color: white;
  padding: 10px 15px;
}

a#open-menu {
  color: white;
}

div.logo {
  background-color: transparent;
  padding-top: 15px;
  text-align: center;
  vertical-align: top;
}
@media screen and (max-width: 565px) {
  div.logo {
    width: 48%;
  }
}

/* NAVIGATION */

nav {
  background-color: #303132;
  color: white;
  height: 40px;
  position: relative;
  width: 100%;
}

.icon-down-open, .arrow-right-nav {
  background-color: #303132;
  color: white;
  font-size: 24px;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .categories {
    display: none;
  }
}

.categories li {
  border-right: 1px solid #666666;
  display: inline-block;
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
  width: 9.5%;
}
@media screen and (max-width: 750px) {
  .categories li {
    background-color: white;
    border-bottom: 1px solid #efefef;
    border-right: 0;
    color: #666666;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    width: 100%;
  }

  .categories li a {
    color: white;
  }

  .categories li:after {
    content: '\e80d';
    font-family: 'fontello';
    margin-right: 10px;
    position: absolute;
    right: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}

.categories li:last-child {
  border-right: 0px;
}

.flyout {
  background-color: white;
  box-shadow: 1px 5px 5px #ccc;
  height: 404px;
  padding: 6px;
  position: absolute;
}
@media screen and (max-width: 750px) {
  .flyout {
    height: auto;
  }
}

.flyout span {
  border-right: 1px solid #666666;
  float: left;
}

.flyout span:last-child {
  border-right: 0;
}
@media screen and (max-width: 750px) {
  .flyout span {
    border-right: 0;
    width: 100%;
  }
}

.flyout h2, .flyout li {
  background-color: white;
  border-bottom: 1px solid #efefef;
  border-right: 0;
  color: #666666;
  float: left;
  padding: 10px;
  width: 100%;
}

.flyout li:hover {
  background-color: #efefef;
}

.nav-image li {
  width: 49%;
}

.nav-image li img {
  width: 100%;
}

.icon-down-open {
  display: none;
}
@media screen and (max-width: 750px) {
  .icon-down-open {
    display: block;
  }
}

.sub-nav li {
  display: inline-block;
  padding-top: 8px;
}

.small-nav {
  display: none;
  text-align: center;
}
@media screen and (max-width: 700px) {
  /* line 287, /Users/apprentice5/Sites/Fab/app/sass/layouts/_layout.scss */
  .small-nav {
    display: block;
  }
}

/* UNIVERSAL */

.no-padding {
  padding: 0px;
}

.flip-vertical {
          -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
}

.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.float-right {
  float: right;
  text-align: right;
}

.float-left {
  float: left;
}

.inline {
  display: inline-block;
}

.clear {
  clear: both;
}

.dotted-border {
  border: 1px dotted #303132;
}

/* STYLES */

.login {
  color: #666666;
  font-size: 14px;
  line-height: 23px;
}
@media screen and (max-width: 915px) {
  .login {
    line-height: 12px;
    width: 10%;
  }
}

.policies {
  clear: both;
}

.policies div {
  background-color: #efefef;
  height: 120px;
  width: 33%;
}
@media screen and (max-width: 700px) {
  .policies div {
    height: 150px;
    width: 32.9%;
  }
}
@media screen and (max-width: 550px) {
  .policies div {
    height: auto;
    margin-top: 14px;
    width: 100%;
  }

  .policies div:first-child {
    margin-top: 0;
  }
}

.fab-us {
  padding: 8px 0 0 0;
  width: 10%;
}

.home, .women, .men, .fun {
  margin: 1px;
}

.featured {
  padding: 0px;
}

.featured div.one-of-three {
  padding: 0px;
}

.shipping-icons {
  padding: 0px;
}

.shipping-icon {
  padding: 0;
  margin: 0 5px;
}

.browse {
  padding: 2px;
}

.home {
  width: 60%;
}

footer li {
  margin-bottom: 8px;
}

footer div {
  padding: 10px;
}

/* LINKS */

a {
  color: #666666;
  text-decoration: none;
}

a.hover-pink:hover h2 {
  color: white;
}

a.hover-pink:hover div {
  background-color: #e882b6;
  color: white;
}

a.hover-orange:hover h2 {
  color: white;
}

a.hover-orange:hover div {
  background-color: #ff3f00;
  color: white;
}

a.hover-blue:hover h2 {
  color: white;
}

a.hover-blue:hover div {
  background-color: #2ea5da;
  color: white;
}

.sub-nav a:hover {
  text-decoration: underline;
}

footer a:hover {
  color: black;
}

.red-hover {
  color: white;
  font-size: 18px;
  padding: 16px 0;
  margin: 0;
  text-align: center;
  vertical-align: top;
}

.red-hover:hover {
  background-color: red;
  color: white;
}

/* LAYOUT- UNIVERSAL */

.col {
  display: inline-block;
  vertical-align: top;
}

.one-of-one {
  width: 100%;
}

.one-of-two {
  width: 49.78%;
}
@media screen and (max-width: 900px) {
  .one-of-two {
    width: 49.65%;
  }
}
@media screen and (max-width: 560px) {
  .one-of-two {
    width: 100%;
  }
}

.one-of-three {
  width: 33%;
}
@media screen and (max-width: 650px) {
  .one-of-three {
    width: 100%;
  }
}

.two-of-three, .four-of-six {
  width: 66%;
}
@media screen and (max-width: 650px) {
  .two-of-three, .four-of-six {
    width: 100%;
  }
}

.one-of-four {
  width: 24%;
}
@media screen and (max-width: 550px) {
  .one-of-four {
    width: 49%;
  }
}

.two-of-five {
  width: 39%;
}
@media screen and (max-width: 630px) {
  .two-of-five {
    text-align: center;
    width: 100%;
  }
}

.three-of-five {
  width: 60%;
}
@media screen and (max-width: 630px) {
  .three-of-five {
    text-align: center;
    width: 100%;
  }
}

.one-of-six {
  width: 16.66%;
}
@media screen and (max-width: 720px) {
  .one-of-six {
    width: 16.5%;
  }
}
@media screen and (max-width: 560px) {
  .one-of-six {
    width: 100%;
  }
}

.one-of-twelve {
  width: 7%;
}

/* LAYOUT - SPECIALTY */

.search {
  width: 16.5%;
}

.shipping-icon {
  width: 29%;
}

.home, .fun {
  padding-bottom: 18px;
  width: 60.5%;
}
@media screen and (max-width: 880px) {
  .home, .fun {
    width: 62%;
  }
}
@media screen and (max-width: 560px) {
  .home, .fun {
    width: 100%;
  }
}

.art, .furniture, .jewelry, .food {
  margin: 1px;
  width: 39%;
}
@media screen and (max-width: 880px) {
  .art, .furniture, .jewelry, .food {
    width: 36.5%;
  }
}
@media screen and (max-width: 560px) {
  .art, .furniture, .jewelry, .food {
    width: 100%;
  }
}

.most-popular {
  padding-bottom: 54px;
  width: 65.75%;
}
@media screen and (max-width: 560px) {
  .most-popular {
    width: 100%;
  }
}


.social {
  text-align: center;
}

.social p {
  font-size: 15px;
  line-height: 30px;
  padding: 14px;
}

.shipping-text {
  font-size: 30px;
}

.shipping-text div {
  padding: 0;
  width: 100%;
}
@media screen and (max-width: 825px) {
  .shipping-text {
    font-size: 24px;
  }
}

.arrow-right-nav {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.policies h2 {
  color: #666666;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
}

footer h2 {
  color: #666666;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
}

header img {
  width: 10%;
}

.logo img {
  width: auto;
}

/* FORMS AND FORM ELEMENTS */

button {
  background-color: #dd0017;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin: 12px 6px;
  padding: 7px 10px;
}

input[type="search"] {
  background: url("../../FabDemo/images/search.png") no-repeat 7px 4px white;
  border: 0px;
  border-radius: 15px;
  font-size: 13px;
  height: 30px;
  min-width: 80px;
  padding-left: 30px;
  -webkit-appearance: none;
  width: 100%;
}

form {
  padding-top: 10px;
  vertical-align: top;
}

/* TYPE STYLES */

.title-top {
  background-color: black;
}

.title-top h1 {
  color: white;
  font-size: 14px;
  line-height: 24px;
  opacity: 1;
}

.title-top h2 {
  line-height: 18px;
}

.title-bottom {
  background-color: black;
  bottom: 17px;
  color: white;
  font-size: 14px;
}
