
.logo-bar {
  background-color: black;
  height: 55px;
  padding: 0;
}

header img {
  width: 10%;
}

.menu {
  color: white;
  padding: 0.8em 1.25em;
}

#open-menu {
  color: white;
}

.logo {
  background-color: transparent;
  padding-top: 1.25em;
  text-align: center;
  vertical-align: top;
}
@media screen and (max-width: 47em) {
  div.logo {
    width: 48%;
  }
}

.logo img {
  width: auto;
}