#body-wrapper {
  margin: 0 auto;
  width: 99.59183672494%; /* 976 / 980 */
}

.full-banner {
  padding: 1.652892561983%; /* 16 / 968 */
  width: 99.180327868852%; /*968 / 976 */
}

.menu.red-hover {
  padding: 0.5em;
}

.policies {
  clear: both;
}

.policies div {
  background-color: #efefef;
  height: 12em;
  margin: 1.446280991736% 0.723140495868%; /* 14/ 968 */
  padding: 1.446280991736%; /*14 / 305 */
  width: 31.50826446281%; /*305 / 968 */

  h2 {
    color: #666666;
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0;
  }
}
/*@media screen and (max-width: 700px) {
  .policies div {
    height: 12.5em;
    width: 32.9%;
  }
}
@media screen and (max-width: 550px) {
  .policies div {
    height: auto;
    margin-top: 1.16em;
    width: 100%;
  }

  .policies div:first-child {
    margin-top: 0;
  }
}*/

.shipping-icons {
  padding: 0px;
}

.shipping-icon {
  padding: 0;
  margin: 0 0.5em
}

.browse {
  padding: 2px;
}

.home {
  width: 60%;
}

.women, .men {
  margin: 2px 0 2px 2px;
}

.home, .fun {
  padding: 2.504472271914%; /* 14 / 559 */
  width: 57.644628099174%; /* 559 / 968 */
}

/*@media screen and (max-width: 50em) {
  .home, .fun {
    width: 100%;
  }
}*/

.art, .furniture, .jewelry, .food {
  padding: 3.448275862069%; /* 14 / 406 */
  width: 41.942148760331%; /* 406 / 968 */
}

/*@media screen and (max-width: 50em) {
  .art, .furniture, .jewelry, .food {
    width: 100%;
  }
}*/

.search {
  width: 16.5%;
}
/*@media screen and (max-width: 73.34em) {
  .search {
    width: 20%;
  }
}*/

.shipping-icon {
  width: 29%;
}

.social {
  text-align: center;
}

.social p {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 2.4rem;
  padding: 1.16em;
}

.shipping-text {
  font-size: 2.4rem;
}

.shipping-text div {
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 68.75em) {
  .shipping-text {
    font-size: 2rem;
  }
}

.arrow-right-nav {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

