<!DOCTYPE html>
<html>
    <head>
        <title>Fab Responsive Home</title>

        <!-- meta cluster -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <!-- css -->
        <link href="sass/application.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        {% include _header.html %}

        <div class="dotted-border no-padding">

            {{ content }}

            {% include _footer.html %}

        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
         <script src="javascripts/app.js"></script>

    </body>
</html>

